@use "sass:math";
@import "shared/styles/variables";

.back {
  width: 100vw;
  height: 100%;
  // overflow: hidden;
  display: block;
  background-color: #111;
  color: $light-text-color;
}
.checkbox {
  position: absolute;
  opacity: 0;

  // Text
  & + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    line-height: $checkbox-size;
    padding-left: $checkbox-size + 10;
    font-size: $checkbox-size - 2;
    font-family: sans-serif;
    color: #666; // Label colour

    // Checkbox
    &:before {
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      content: "";
      background: transparent;
      width: $checkbox-size;
      height: $checkbox-size;

      box-shadow: inset 0 0 0 1px $checkbox-border;
      border-radius: 4px;
      transition: 200ms ease-in-out all;
    }

    // Tick
    &:after {
      position: absolute;
      display: block;
      top: 5px;
      left: 8px;
      content: "";
      width: 3px;
      height: 7px;
      border-right: 1px solid transparent;
      border-bottom: 1px solid transparent;
      transform: rotate(45deg);

      transition: 200ms ease-in-out all;
    }
  }

  // Hover
  & + label:hover {
    color: #333;
  }

  // Focus
  & + label:focus {
    outline: none;
  }

  // Checked
  &:checked {
    & + label {
      &:before {
        background: $primary-color;
        box-shadow: none;
      }
      &:after {
        border-color: white;
      }
    }
  }

  // Disabled
  &:disabled {
    & + label {
      &:before {
        background: #f2f2f2; // Disabled colour
        box-shadow: none;
      }
      &:after {
        border-color: transparent;
      }
    }
  }

  // Disabled Checked
  &:checked:disabled {
    & + label {
      &:before {
        background: #f2f2f2;
        box-shadow: none;
      }
      &:after {
        border-color: #cecece;
      }
    }
  }
}

.container {
  padding: 20px;
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 768px) {
    width: 90%; // Adjust width for smaller screens
  }

  @media (max-width: 480px) {
    width: 100%; // Make it full width for even smaller screens
  }
  .app-welcome {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    color: $light-text-color;

    app-clock {
      font-size: 16px;
      color: $accent-color;
    }

    @media (max-width: 768px) {
      font-size: 24px; // Adjust font size for smaller screens
    }

    @media (max-width: 480px) {
      font-size: 20px; // Further adjust font size for even smaller screens
    }
  }

  .copyright {
    font-size: 12px;
    margin-top: 20px;
    color: $light-text-color;
    a {
      text-decoration: none;
      color: $light-text-color;
    }
  }

  #sonos-devices {
    padding: 10px;

    .prayers {
      margin: 0;
      padding: 0;
      list-style: none;
      margin-bottom: 15px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .prayer {
        background-color: $primary-color;
        border-radius: 980px;
        height: 80px;
        width: 120px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        flex-direction: column;
        color: $light-text-color;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease, transform 0.3s ease;

        &:hover {
          background-color: darken($primary-color, 10%);
          transform: translateY(-2px);
          cursor: pointer;
        }

        &.next {
          background-color: $accent-color;

          &:hover {
            background-color: darken($accent-color, 10%);
          }
        }

        &:nth-child(2n) {
          margin-right: 0; // Remove right margin for every second item
        }

        &:nth-child(3) {
          flex-basis: 100%; // One item in the second row
        }

        &:nth-last-child(2) {
          margin-right: 10px; // Restore right margin for the fourth item from the end
        }

        .time,
        .name {
          text-align: center;
          margin-bottom: 5px; // Add margin between .time and .name
          font-size: 14px;
        }

        .name {
          font-weight: bold;
          font-size: 16px;
        }

        @media (max-width: 768px) {
          width: 160px; // Adjust width for smaller screens
        }

        @media (max-width: 480px) {
          width: 100%; // Make it full width for even smaller screens
          margin: 10px 0; // Add margin between items
        }
      }
    }

    .device {
      border-radius: 8px;
      margin-top: 20px;
      cursor: pointer;
      text-align: center;
      padding: 20px;
      background-color: $primary-color;
      color: $light-text-color;
      margin-bottom: 20px;
      width: 210px;

      transition: background-color 0.3s ease, transform 0.3s ease;

      .name {
        font-weight: bold;
        margin-bottom: 10px;
      }

      pre {
        text-align: left;
        margin-top: 10px;
        color: $dark-text-color;
      }

      .picture {
        border-radius: 50%;
        width: 120px;
        height: 120px;
        object-fit: cover;
        margin: 0 auto;
      }

      .controls {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;

        .action {
          background: black;
          border-radius: 50%;
          height: 50px;
          padding: 10px;
          width: 50px;
          margin-right: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 16px;
          color: white;
          cursor: pointer;
          line-height: 16px;
          transition: color 0.3s ease, transform 0.3s ease;

          &:hover {
            color: orange;
          }
          &.play::before {
            content: "⏵";
          }

          &.pause::before {
            content: "⏸";
          }

          &.stop::before {
            content: "⏹";
          }

          &.play-pause::before {
            content: "⏯";
          }
        }
      }

      &:hover {
        background-color: darken($primary-color, 10%);
        transform: translateY(-2px);
      }
      @media (max-width: 600px) {
        width: 90%; // Adjust width for smaller screens
      }
    }
  }
}
