<div class="container">
  <div class="app-welcome">Welcome to Sonos prayer <app-clock></app-clock></div>

  <div id="sonos-devices">
    <div *ngIf="!devices.length">Loading Sonos Players...</div>
    <div *ngIf="!prayers.length">Loading Prayers...</div>
    <ul class="prayers">
      <li *ngFor="let prayer of prayers" class="prayer" [ngClass]="{'next':getCurrentPrayer()===prayer}">
        <div class="name">{{prayer.getName()}} </div>
        <div class="time">{{prayer.getTime() | date :'H:mm'}}</div>
      </li>
    </ul>
    <div class="settings" *ngIf="devices.length">
      <h2 class="settings-title">Settings</h2>
      <form class="settings-form" (submit)="saveSettings()">
        <div class="form-group">
          <label for="city">City</label>
          <input name="city" type="text" id="city" [(ngModel)]="settings.api.city" [value]="settings.api.city" class="form-control" placeholder="Enter your city">
        </div>
        <div class="form-group">
          <label for="country">Country</label>
          <input name="country" type="text" id="country" [(ngModel)]="settings.api.country" [value]="settings.api.country" class="form-control" placeholder="Enter your country">
        </div>
        <div class="form-group">
          <label for="calcMethod">Adhan Calculation Method</label>
          <select name="calcMethod" id="calcMethod" [(ngModel)]="settings.api.selectedMethod" class="form-control">
            <option value="" disabled>Select adhan calculation method:</option>
            <option *ngFor="let method of settings.calculationMethods" [value]="method.id">{{ method.description }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="selectDate">Force date:</label>
          <input name="forceDate" type="date" id="selectDate" name="selectDate" class="form-control" [(ngModel)]="settings.api.forceDate" [value]="settings.api.forceDate">
        </div>
        <div class="form-group">
          <label for="volume">Volume</label>
          <input type="range" id="volume" name="volume" [(ngModel)]="settings.device.volume" [value]="settings.device.volume" class="form-control" min="0" max="100">
        </div>
        <div class="form-group">
          <label for="enableScheduler">Enable scheduler</label>
          <input type="checkbox" id="enableScheduler" name="enableScheduler" [(ngModel)]="settings.enableScheduler" [value]="settings.enableScheduler" class="form-control">
        </div>
        <div class="form-group">
          <label for="adhan">Adhan:</label>
          <select name="adhan" id="adhan" [(ngModel)]="settings.playlist.fileName" [value]="settings.playlist.fileName" class="form-control" (change)="onMp3FileChange()">
            <option value="" disabled>Select an Adhan</option>
            <option *ngFor="let mp3File of azanList" [value]="mp3File">{{ mp3File }}</option>
          </select>
          <audio #audioPlayer controls *ngIf="settings.playlist.fileName">
            <source [src]="'/' + settings.playlist.fileName" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" name="save">Save</button>
        </div>
      </form>
    </div>

    <div *ngFor="let device of devices" class="device">
      <img src="assets/img/symfonisk.jpg" alt="SONOS-DEVICE" class="picture">
      <div class="name">
        {{device.getName()}}{{"@"}}{{device.getIp()}}
        <div class="controls">
          <div class="action pause">play/pause</div>
          <div class="action stop">stop</div>
        </div>
      </div>
      <div>
        Selected track: {{device.getPlayingTitle().title}}
      </div>

    </div>
  </div>
  <div class="copyright">Sonos player {{version}} By <a href="https://github.com/aminekun90">&#64;aminekun90</a></div>
</div>
<router-outlet></router-outlet>
