@use "sass:math";
@import "shared/styles/variables";

.btn {
  background-color: #fff;
  border-radius: 980px;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1px;
  min-width: 28px;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 11px;
  padding-bottom: 11px;
  --sk-button-margin-horizontal: 18px;
  --sk-button-margin-vertical: 18px;
  font-size: 14px;
  line-height: 1.42859;
  letter-spacing: -0.016em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  font-weight: 500;
  background-color: #fff;
  color: #1d1d1f;
  cursor: pointer;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 5px;
  &:hover {
    text-decoration: none;
    background-color: #fff;
    color: #1d1d1f;
    opacity: 0.9;
    cursor: pointer;
  }
}
.back {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  display: block;
  background: url("/assets/img/bg.jpg")  no-repeat center fixed;
  color: $light-text-color;
}
.checkbox {
  position: absolute;
  opacity: 0;

  // Text
  & + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    line-height: $checkbox-size;
    padding-left: $checkbox-size + 10;
    font-size: $checkbox-size - 2;
    font-family: sans-serif;
    color: #666; // Label colour

    // Checkbox
    &:before {
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      content: "";
      background: transparent;
      width: $checkbox-size;
      height: $checkbox-size;

      box-shadow: inset 0 0 0 1px $checkbox-border;
      border-radius: 4px;
      transition: 200ms ease-in-out all;
    }

    // Tick
    &:after {
      position: absolute;
      display: block;
      top: 5px;
      left: 8px;
      content: "";
      width: 3px;
      height: 7px;
      border-right: 1px solid transparent;
      border-bottom: 1px solid transparent;
      transform: rotate(45deg);

      transition: 200ms ease-in-out all;
    }
  }

  // Hover
  & + label:hover {
    color: #333;
  }

  // Focus
  & + label:focus {
    outline: none;
  }

  // Checked
  &:checked {
    & + label {
      &:before {
        background: $primary-color;
        box-shadow: none;
      }
      &:after {
        border-color: white;
      }
    }
  }

  // Disabled
  &:disabled {
    & + label {
      &:before {
        background: #f2f2f2; // Disabled colour
        box-shadow: none;
      }
      &:after {
        border-color: transparent;
      }
    }
  }

  // Disabled Checked
  &:checked:disabled {
    & + label {
      &:before {
        background: #f2f2f2;
        box-shadow: none;
      }
      &:after {
        border-color: #cecece;
      }
    }
  }
}

.container {
  max-width: 600px;
  background: url("/assets/img/bg-islamic.jpg") no-repeat top fixed;
  background-color: rgba(128, 128, 128, 0.523);
  border-radius: 50px;
  padding-bottom: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  app-calendar{
    display: block;
    width: 100%;
  }
  @media (max-width: 768px) {
    width: 90%; // Adjust width for smaller screens
  }

  @media (max-width: 480px) {
    width: 100%; // Make it full width for even smaller screens
  }
  .app-welcome {
    font-size: 32px;
    padding: 30px;

    text-align: center;
    color: $light-text-color;
    border-radius: 50px 50px 0 0;
    min-height: 300px;
    width: 100%;
    .local{
      font-size: 18px;
    }
    app-clock {
      font-size: 2.5em;
      color: $accent-color;
      font-family:  'Roboto', sans-serif;
      font-weight: bolder;
      display: block;
    }


    @media (max-width: 768px) {
      font-size: 24px; // Adjust font size for smaller screens
    }

    @media (max-width: 480px) {
      font-size: 20px; // Further adjust font size for even smaller screens
    }
  }

  .copyright {
    font-size: 12px;
    margin-top: 20px;
    color: $light-text-color;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    a {
      text-decoration: none;
      color: $light-text-color;
    }
  }

  #sonos-devices {

    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px 50px 0 0;
    padding: 20px;
    .device-search{
      margin: 0 auto;
      width: 100%;
      text-align: center;
    }
    .prayers {
      margin: 0;
      padding: 0;
      list-style: none;
      margin-bottom: 15px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      .prayer {
        background-color: $primary-color;
        border-radius: 980px;
        height: 80px;
        width: 100%;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        flex-direction: column;
        color: $light-text-color;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease, transform 0.3s ease;

        &:hover {
          background-color: darken($primary-color, 10%);
          transform: translateY(-2px);
          cursor: pointer;
        }

        &.next {
          background-color: $accent-color;

          &:hover {
            background-color: darken($accent-color, 10%);
          }
        }

        &:nth-child(2n) {
          margin-right: 0; // Remove right margin for every second item
        }

        &:nth-child(3) {
          flex-basis: 100%; // One item in the second row
        }

        &:nth-last-child(2) {
          margin-right: 10px; // Restore right margin for the fourth item from the end
        }

        .time,
        .name {
          text-align: center;
          margin-bottom: 5px; // Add margin between .time and .name
          font-size: 14px;
        }

        .name {
          font-weight: bold;
          font-size: 16px;
        }

        @media (max-width: 768px) {
          width: 160px; // Adjust width for smaller screens
        }

        @media (max-width: 480px) {
          width: 100%; // Make it full width for even smaller screens
          margin: 10px 0; // Add margin between items
        }
      }
    }

    .device {
      width: 100%;
      border-radius: 8px;
      margin-top: 20px;
      cursor: pointer;
      text-align: center;
      padding: 20px;
      background-color: $primary-color;
      color: $light-text-color;
      margin-bottom: 20px;

      transition: background-color 0.3s ease, transform 0.3s ease;

      .name {
        font-weight: bold;
        margin-bottom: 10px;
      }

      pre {
        text-align: left;
        margin-top: 10px;
        color: $dark-text-color;
      }

      .picture {
        border-radius: 50%;
        width: 120px;
        height: 120px;
        object-fit: cover;
        margin: 0 auto;
      }

      .controls {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;

        .action {
          background: black;
          border-radius: 50%;
          height: 50px;
          padding: 10px;
          width: 50px;
          margin-right: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 16px;
          color: white;
          cursor: pointer;
          line-height: 16px;
          transition: color 0.3s ease, transform 0.3s ease;

          &:hover {
            color: orange;
          }
          &.play::before {
            content: "⏵";
          }

          &.pause::before {
            content: "⏸";
          }

          &.stop::before {
            content: "⏹";
          }

          &.play-pause::before {
            content: "⏯";
          }
        }
      }

      &:hover {
        background-color: darken($primary-color, 10%);
        transform: translateY(-2px);
      }
      @media (max-width: 600px) {
        width: 90%; // Adjust width for smaller screens
      }
    }
  }
}
