<div class="container">
  <div class="app-welcome">Welcome to Sonos prayer <app-clock></app-clock></div>

  <div id="sonos-devices">
    <div *ngIf="!devices.length">Loading Sonos Players...</div>
    <div *ngIf="!prayers.length">Loading Prayers...</div>
    <ul class="prayers">
      <li *ngFor="let prayer of prayers" class="prayer" [ngClass]="{'next':getCurrentPrayer()===prayer}">
        <div class="name">{{prayer.getName()}} </div>
        <div class="time">{{prayer.getTime() | date :'H:mm'}}</div>
      </li>
    </ul>
    <div class="settings" *ngIf="devices.length">
      Settings
      <form>
        <div>
          <label for="adhan">Adhan:</label>
          <select name="adhan" id="" title="adhan" [(ngModel)]="selectedMp3File" (change)="onMp3FileChange()">
            <option value="" disabled selected>Select an Adhan</option>
            <option *ngFor="let mp3File of azanList" [value]="mp3File">{{ mp3File }}</option>
          </select>

          <audio #audioPlayer controls *ngIf="selectedMp3File">
            <source [src]="'/' + selectedMp3File" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
        </div>
        <div>
          <button type="button" title="save" class="btn" (click)="saveSettings()">
            save
          </button>
        </div>

      </form>
    </div>
    <div *ngFor="let device of devices" class="device">
      <img src="assets/img/symfonisk.jpg" alt="SONOS-DEVICE" class="picture">
      <div class="name">
        {{device.getName()}}@{{device.getIp()}}
        <!-- TODO: Add buttons for controlling playback -->
      </div>
      <div>
        Selected track: {{device.getPlayingTitle().title}}
      </div>

    </div>
  </div>
  <div class="copyright">Sonos player {{version}} By <a href="https://github.com/aminekun90">@aminekun90</a></div>
</div>
<router-outlet></router-outlet>
