<div>
  <h3>Welcome to Sonos prayer player <app-clock></app-clock></h3>

  <div id="sonos-devices">
    <div *ngIf="!devices.length">Loading Sonos Players...</div>
    <div *ngIf="!prayers.length">Loading Prayers...</div>
    <ul class="prayers">
      <li *ngFor="let prayer of prayers" class="prayer" [ngClass]="{'next':getCurrentPrayer()===prayer}">
        <div *ngIf="getCurrentPrayer()===prayer">
          Next prayer
        </div>
        <div class="name">{{prayer.getName()}} </div>
        <div class="time">{{prayer.getTime() | date :'H:mm'}}</div>
      </li>
    </ul>

    <div *ngFor="let device of devices" class="device">
      <img src="assets/img/symfonisk.jpg" alt="SONOS-DEVICE" class="picture">
      <div class="name">
        {{device.getName()}}@{{device.getIp()}}
        <!-- TODO: Add buttons for controlling playback -->
      </div>
      <div>
        Selected track: {{device.getPlayingTitle().title}}
      </div>

    </div>
  </div>
</div>
<router-outlet></router-outlet>
