$primary-color: #3498dbc8;
$secondary-color: #32b368d6;
$background-color: #ecf0f1d8;
$border-color: #bdc3c7;
$accent-color: #e67e22;
$dark-text-color: #2c3e50;
$light-text-color: #ecf0f1;

// Variables
$checkbox-size: 20px;
$checkbox-border: #cecece;
