appdirs==1.4.4
asgiref==3.8.1
astroid==3.2.0
bidict==0.23.1
bleak==0.22.1
blinker==1.8.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorclass==2.2.2
decorator==5.1.1
dill==0.3.8
docopt==0.6.2
Flask==3.0.3
Flask-Cors==4.0.1
Flask-SocketIO==5.3.6
future==1.0.0
geocoder==1.38.1
gevent==24.2.1
greenlet==3.0.3
gunicorn==22.0.0
h11==0.14.0
idna==3.7
ifaddr==0.2.0
isort==5.13.2
itsdangerous==2.2.0
Jinja2==3.1.4
lazy-object-proxy==1.10.0
lxml==5.2.2
MarkupSafe==2.1.5
mccabe==0.7.0
netifaces==0.11.0
packaging==24.0
pip-upgrader==1.4.15
platformdirs==4.2.2
pyaml==24.4.0
pylint==3.2.0
pyobjc-core==10.2
pyobjc-framework-Cocoa==10.2
pyobjc-framework-CoreBluetooth==10.2
pyobjc-framework-libdispatch==10.2
python-engineio==4.9.0
python-socketio==5.11.2
PyYAML==6.0.1
ratelim==0.1.6
requests==2.31.0
schedule==1.2.1
setuptools==69.5.1
simple-websocket==1.0.0
six==1.16.0
soco==0.30.4
terminaltables==3.1.10
tomlkit==0.12.5
urllib3==2.2.1
uWSGI==2.0.25.1
Werkzeug==3.0.3
wrapt==1.16.0
wsproto==1.2.0
xmltodict==0.13.0
zope.event==5.0
zope.interface==6.3
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
