@import "../shared/styles/variables";

.settings {
  margin-top: 0px;
  top: 60px;
  padding: 20px;
  background-color: $background-color;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 500px;
  position: absolute;
  z-index: 10000;
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #777;
    cursor: pointer;
    float: right;
    &:hover{
      color: black;
    }
  }
  .settings-title {
    font-size: 24px;
    color: $primary-color;
    margin-bottom: 15px;
  }

  .form-group {
    margin-bottom: 20px;

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
      color: $dark-text-color;
    }

    .form-control {
      width: 100%;
      padding: 10px;
      border: 1px solid $border-color;
      border-radius: 5px;
      font-size: 16px;
      color: $dark-text-color;

      &:focus {
        outline: none;
        border-color: $primary-color;
      }
    }

    select.form-control {
      height: 40px;
    }

    input[type="range"].form-control {
      width: calc(100% - 20px);
    }
  }

  .btn {
    padding: 12px 24px;
    font-size: 14px;
    background-color: $primary-color;
    color: $light-text-color;
    border: none;
    border-radius: 980px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}
